<div class="side-bar-header">
  <div class="user-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="log_out">
      <%= link_to "log_out", destroy_user_session_path, method: :delete, class: 'btn'%>
  </div>
</div>

<div class="memo_lists">
  <div class="memo_list">
    <div class="memo-name">
      <a href="#">買い物</a>
    </div>
  </div>
  <div class="memo_list">
    <div class="memo-name">
      <a href="#">支払い</a>
    </div>
  </div>
</div>