<div class="side-bar-header">
  <div class="user-name">
      <a href="#">Tom</a>
  </div>
  <div class="log_out">
      <a href="#">ログアウト</a>
  </div>
</div>

<div class="memo_lists">
  <div class="memo_list">
    <div class="memo-name">
      <a href="#">買い物</a>
    </div>
  </div>
  <div class="memo_list">
    <div class="memo-name">
      <a href="#">支払い</a>
    </div>
  </div>
</div>